@font-face {
	font-family: "FolioLight";
	src: url("../fonts/FolioLight.ttf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "FolioMedium";
	src: url("../fonts/FolioMedium.ttf");
	font-weight: normal;
	font-style: normal;
}