@import "reset";
@import "fonts";



.header {
	background-image: url("../images/background.jpg");
	background-position: 0 31%;
	background-repeat: no-repeat;
	background-size: cover;
}
.header_content {
	display: flex;
	margin: 30px 0;
	font-size: 18px;
	color: white;
	justify-content: space-between;
}

.header_logo,
.header_contact {
	display: inline-flex;
	align-items: center;
	& > div {
		margin-right: 25px;
		&:last-child {
			margin: 0;
		}
	}
}

.header_logo {
	img {
		max-width: 40px;
		max-height: 40px;
		margin-right: 10px;
	}
}

.header_email,
.header_tel {
	display: inline-flex;
	align-items: flex-end;
	font-size: 12px;
}

.header_email {
	&::before{
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/envelope.png");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 10px;
	}
}

.header_tel {
	&::before{
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/call-answer.png");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 10px;
	}
}

.header_basic-cont {
	font-family: "OpenSansRegular";
	margin: 120px auto;
	text-align: center;
	color: white;
	font-size: 22px;
	img {
		margin: 15px;
	}
	& > div {
		margin: 20px 0;
	}
}

.sub_cont {
	font-size: 12px;
	margin-top: 20px;
}

.header_button {
	a {
		display: inline-block;
		padding: 10px 20px;
		border: 1px solid #aa9fa2;
		color: #e4e0e0;
		margin-right: 10px;

		-webkit-transition : border 500ms ease-out, color 500ms ease-out;
		-moz-transition : border 500ms ease-out, color 500ms ease-out;
		-o-transition : border 500ms ease-out, color 500ms ease-out;
		transition : border 500ms ease-out, color 500ms ease-out;
		&:last-child {
			margin: 0;
		}
		&:hover {
			text-decoration: none;
			cursor: pointer;
			border: 1px solid black;
			color: white;
		}
	}
}

.header_standart {
	text-align: center;
	margin-bottom: 40px;
	div {
		display: inline-block;
		margin-right: 20px;
		img {
			max-width: 40px;
			max-height: 40px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}

//about pmi 
.about_pmi {
	background-color: #557bc6;
	color: #ffffff;
}

.about_pmi-content {
	padding: 90px 0;
	width: 70%;
	margin: 0 auto;

	p {
		margin: 5px 0;
		
		& + p {
			margin-top: 10px;
			margin-bottom: 30px;
		}
	}
}

.about_pmi-content .header_button { text-align: center; margin-top: 40px; }

.quote_author {
	text-align: right;
}

//precision machine
.precision_mach {
	background-image: url("../images/NEW-3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.precision_content {
	margin: 120px 0;
	text-align: center;
	color: white;
}

.precision_title {
	margin: 20px 0;
	display: inline-flex;
	align-items: center;
	font-size: 24px;
	img {
		max-width: 60px;
		max-height: 60px;
		margin-right: 10px;
	}
}

.precision_info {
	font-size: 14px;
	width: 80%;
	margin: 0 auto;
	text-align: justify;
	p {
		margin: 15px 0;
	}
}


//about 
.about {
	background-image: url("../images/about.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.about .precision_content {
	margin-top: 55px;
}

.about .precision_info {
	width: 100%;
	padding: 0 50px;
}
//media

@media screen and (max-width: 992px) {
	
	.about_pmi-content { width: 75%; }
}

@media screen and (max-width: 768px) {
	.header {
		background-position: 10% 50%;
	}
}

@media screen and (max-width: 570px) {
	.header_content {
		flex-direction: column;
	}
	.header_contact {
		margin: 15px 0;
		justify-content: center;
	}

	.about_pmi-content { width: 100%; }
}

@media screen and (max-width: 340px) {
	.header_button {
		a {
			width: 100%;
			margin-bottom: 10px;
		}
	}

}



