@import "reset";
@import "fonts";



.header {
	background-image: url("../images/boeing.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header_content {
	display: flex;
	margin: 30px 0;
	font-size: 18px;
	color: white;
	justify-content: space-between;
}

.header_logo,
.header_contact {
	display: inline-flex;
	align-items: center;
	& > div {
		margin-right: 25px;
		&:last-child {
			margin: 0;
		}
	}
}

.header_logo {
	img {
		max-width: 40px;
		max-height: 40px;
		margin-right: 10px;
	}
}

.header_email,
.header_tel {
	display: inline-flex;
	align-items: flex-end;
	font-size: 12px;
}

.header_email {
	&::before{
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/envelope.png");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 10px;
	}
}

.header_tel {
	&::before{
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/call-answer.png");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 10px;
	}
}

.header_basic-cont {
	font-family: "OpenSansRegular";
	margin: 120px auto;
	text-align: center;
	color: white;
	font-size: 22px;
	img {
		margin: 15px;
	}
	& > div {
		margin: 20px 0;
	}
}

.sub_cont {
	font-size: 12px;
	margin-top: 20px;
}

.header_button {
	a {
		display: inline-block;
		padding: 10px 20px;
		border: 1px solid #aa9fa2;
		color: #e4e0e0;
		margin-right: 10px;

		-webkit-transition : border, color 500ms ease-out;
		-moz-transition : border, color 500ms ease-out;
		-o-transition : border, color 500ms ease-out;
		transition : border,color 500ms ease-out;
		&:last-child {
			margin: 0;
		}
		&:hover {
			text-decoration: none;
			cursor: pointer;
			border: 1px solid black;
			color: white;
		}
	}
}

.header_standart {
	text-align: center;
	margin-bottom: 40px;
	div {
		display: inline-block;
		margin-right: 20px;
		img {
			max-width: 40px;
			max-height: 40px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}



@media screen and (max-width: 570px) {
	.header_content {
		flex-direction: column;
	}
	.header_contact {
		margin: 15px 0;
		justify-content: center;
	}
}

@media screen and (max-width: 340px) {
	.header_button {
		a {
			width: 100%;
			margin-bottom: 10px;
		}
	}

}