@import "reset";
@import "fonts";



.header {
	background-image: url("../images/background.jpg");
	background-position: 0 31%;
	background-repeat: no-repeat;
	background-size: cover;
}
.header_content {
	display: flex;
	margin: 30px 0;
	font-size: 22px;
	color: white;
	justify-content: space-between;
}

.header_logo,
.header_contact {
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap;
	& > div {
		margin-right: 25px;
		&:last-child {
			margin: 0;
			margin-left: 5px;
		}
	}
}

.header_logo {
	img {
		max-width: 40px;
		max-height: 40px;
		margin-right: 10px;
	}
}

.header_email,
.header_tel {
	font-family:"FolioLight";
	display: inline-flex;
	align-items: flex-end;
	font-size: 18px;
	line-height: 1;
}

.header_email {
	&::before{
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/envelope.png");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 10px;
	}
}

.header_tel {
	&::before{
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		background-image: url("../images/call-answer.png");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 10px;
	}
}

.header_basic-cont {
	font-family: "FolioMedium";
	margin: 120px auto;
	text-align: center;
	color: white;
	font-size: 22px;
	img {
		margin: 15px;
	}
	& > div {
		margin: 20px 0;
		p {
			font-size: 50px;
			&:last-child {
				font-family: "FolioLight";
				font-size: 20px;
			}
		}
	}
}


.sub_cont {
	font-size: 12px;
	margin-top: 20px;
}

.header_button {
	a {
		font-size: 22px;
		font-family: "FolioLight";
		display: inline-block;
		padding: 10px 20px;
		border: 1px solid #aa9fa2;
		color: #e4e0e0;
		margin-right: 10px;

		-webkit-transition : border 500ms ease-out, color 500ms ease-out;
		-moz-transition : border 500ms ease-out, color 500ms ease-out;
		-o-transition : border 500ms ease-out, color 500ms ease-out;
		transition : border 500ms ease-out, color 500ms ease-out;
		&:last-child {
			margin: 0;
		}
		&:hover {
			text-decoration: none;
			cursor: pointer;
			border: 1px solid black;
			color: white;
		}
	}
}

.header_standart {
	text-align: center;
	margin-bottom: 40px;
	color: white;
	font-family: "FolioMedium";
	opacity: 0.6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
}

.items_wrap-cont {
	display: inline-flex;
	margin-right: 20px;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
	img {
		max-width: 90px;
		max-height: 50px;
	}
	&:last-child {
		margin-right: 0;
		padding-right: 0;
	}

}

.stantart_info {
	font-size: 35px;
	text-align: left;
	line-height: 1;
	margin-left: 10px;
	p {
		&:last-child {
			font-size: 10px;
		}
	}
}

//about pmi 
.about_pmi {
	background-color: #557bc6;
	color: #ffffff;
}

.about_pmi-content {
	font-family: "MyriadProRegular";
	padding: 90px 0;
	width: 70%;
	margin: 0 auto;

	p {
		margin: 5px 0;
		
		& + p {
			margin-top: 10px;
			margin-bottom: 30px;
		}
	}
}

.about_pmi-content .header_button { text-align: center; margin-top: 40px; }

.quote_author {
	text-align: right;
}

//precision machine
.precision_mach {
	background-image: url("../images/NEW-3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.precision_content {
	margin: 120px 0;
	text-align: center;
	color: white;
}

.precision_title {
	font-family: "FolioMedium";
	margin: 20px 0;
	display: inline-flex;
	align-items: center;
	font-size: 32px;
	img {
		max-width: 60px;
		max-height: 60px;
		margin-right: 10px;
	}
}

.precision_info {
	font-size: 15px;
	width: 80%;
	margin: 0 auto;
	text-align: justify;
	p {
		margin: 15px 0;
	}
}


//about 
.about {
	background-image: url("../images/about.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.about .precision_content {
	margin-top: 55px;
}

.about .precision_info {
	width: 100%;
	padding: 0 50px;
}

//statist
.statist {
	background-color: #64a45f;
}

.statist_content-wrap {
	margin: 40px 0;
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
}

.statist_info {
	width: 65%;
	color: white;
	display: inline-flex;
	justify-content: space-between;
	& + div {
		width: 35%;
		text-align: center;
	}
}

.info-content {
	display: flex;
	width: 19%;
    flex-direction: column;
    font-size: 30px;
    line-height: 1;
    align-items: baseline;
    flex-wrap: wrap;
	span {
		&:first-child {
			font-family: "FolioMedium";
		}
		&:last-child {
			font-size: 15px;
		}
	}
}

// contact
.contact {
	background-color: #292b2c;
	background-repeat: no-repeat;
	color: white;
}

.contact .precision_title {
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
		p {
		margin-bottom: 40px;
	}
}

.contact_info-wrap {
	margin: 40px 0;
}
.wrap-map {width:100%;}
.wrap-map > iframe {
	width: 100% !important;
}

.form-wrap {
	width: 50%;
	display: inline-block;
	float: left;
	&:first-child {
		padding-right: 40px;
	}
	&:last-child {
		margin: 22px 0;
		padding-left: 15%;
	}
}

.form-title {
	padding-left: 75px;
	position: relative;
	margin-bottom: 15px;
	p {
		font-size: 15px;
		&:first-child {
			font-family:  "FolioMedium";
			font-size: 34px;
			height: 55px;
			display: inline-flex;
			align-items: center;
			&::before {
				content: '';
				display:inline-flex;
				width: 55px;
				height: 55px;
				background-image: url("../images/logo.png");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

	}

}

.file_man {
	display: flex;
    justify-content: space-between;
	
	button {
		position: relative;
		margin-top: 10px;
	    padding: 5px 25px;
	    background-color:#9FD468;
	    border-width: 0;
	}
}

.signature {
	font-size: 15px;
	margin-bottom: 15px;
	label {
		font-weight: normal;
	}
}

.form_basic-input {
	input {
		color: black;
		width: 100%;
		padding: 10px 10px;
		margin: 15px 0;
		color: black;
		&:last-child {
			margin-bottom: 30px;
		}
	}
	textarea {
		color: black;
		width: 100%;
		resize: none;
		margin: 15px 0;
		padding: 10px 10px;
	}
	button {

		background-color: transparent;
		border-width: 0;
		border: 1px solid #ffffff;
		padding: 5px 25px;
		float: right;
	}
}

.address {
	margin-bottom: 45px;
	p {
		font-size: 18px;
		margin: 10px 0;
		&:first-child {
			font-family: "FolioMedium";
			margin:30px 0;
			font-size: 34px;
		}
		&:last-child {
			margin-top: 5px;
		}
	}
}

.get-quote {
	margin-top: 50%;
	font-family: "FolioMedium";
	font-size: 23px;
}

 
.button_form input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
	width: 100%;
	height: 100%;
}


// after footer

.aft_footer {
	background-color: #0ba14b;
	text-align: center;
}

.aft_footer-content {
	display: inline-flex;
	font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
	    a {
	    	display: flex;
	    	margin: 0 15px;
	    	color: white;
	    	&:hover {
	    		text-transform: none;
	    	}
	    }
	    img {
	    	width: 22px;
	    	height: 20px;
	    	margin: 0 15px;
	    }
}


.footer {
	background-color: #2b78be;

}

.footer .header_standart {
	margin: 10px 0;
}

.footer .stantart_info{
	font-size: 35px;
	margin: 10px 0;
}


.copyright {
	display: flex;
	justify-content: flex-end;
	color: white;
	margin-right: 10px;
	span {
		&:before {
			display: inline-block;
			content: "";
			width: 13px;
			height: 13px;
			background-image: url("../images/copyright.png");
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
			background-size: cover;
			top: 10%;
			margin: 0 5px;
		}
	}
}
//media

@media screen and (max-width: 992px) {

	.items_wrap-cont {
		padding-right: 0;
		margin: 10px;
	}
	.footer .items_wrap-cont {
		margin: 5px 10px;
	}

	.about_pmi-content { width: 75%; }

	.statist_info {
		width: 100%;
		& + div {
			width:100%;
			margin: 25px 0;
		}
	}

	.form-wrap {
		width: 100%;
		padding: 0;
		&:first-child,
		&:last-child {
			padding: 0;
		}
	}

	.form_basic-input {
		button {
			margin: 0 auto;
			display:block;
			width: 25%;
			float: none;
		}
	}

	.get-quote {
		margin-top: 65px;
	}
}

@media screen and (max-width: 768px) {
	.copyright {
		justify-content: center;
	}

	.header {
		background-position: 10% 50%;
	}

	
	.header_contact {
		margin: 15px 0;
		justify-content: center;
	}

	.header_content,
	.statist_info {
		flex-direction: column;
	}

	.info-content {
		margin: 15px 0;
		width: auto;
	}
}

@media screen and (max-width: 570px) {
	.copyright {
		float: none;
	}
	.header_content {
		div {
			margin: 10px 0;
			margin-left: 0;
		}
	}

	.about_pmi-content { width: 100%; }

	.about .precision_info {
		padding: 0;
	}

	.form_basic-input {
		button {
			margin: 0 auto;
			display:block;
			width: 50%;
			float: none;
		}
	}

	.aft_footer-content {
		flex-direction: column;
		justify-content: center;
		a {
			margin-top: 5px;
			margin-bottom: 5px;
		}
	}

	.signature {
		font-size: 12px;
		margin-bottom: 15px;
		label {
			font-weight: normal;
		}
	}

	.footer .stantart_info {
		font-size: 25px;
	}	
}

@media screen and (max-width: 340px) {
	.header_logo {
		font-size: 20px;
	}
	.header_button {
		a {
			width: 100%;
			margin-bottom: 10px;
		}
	}

	.get-quote {
		text-align:center;
		font-size: 25px;
	}

	.items_wrap-cont {
		display: block;
		margin: 10px 0;
		.stantart_info {
			margin: 0;
		}
	}

}


//checkbox
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}


.checkbox + label {
  cursor: pointer;
}




.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
  position: relative; 
  padding: 0 0 0 60px; 
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}


.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s; 
}


.checkbox:checked + label:before {
  background: #9FD468;
}


.checkbox:checked + label:after {
  left: 26px;
}


.checkbox:focus + label:before {
  //box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}


